body {
	padding: 0 10px;
}

div {
	margin: 10px 0;
	padding: 5px;
	border: 1px solid #ccc;
	overflow: hidden;
}

div code {
	float: right;
	margin-top: 2px;
}

section {
	margin: 60px 0;
}

footer {
	text-align: right;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
#test0 { background: #D5F2D5;  border-color: #BBCCBB; }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
#test1 { background: #D5F2D5;  border-color: #BBCCBB; }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
#test2 { background: #D5F2D5;  border-color: #BBCCBB; }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
#test3 { background: #D5F2D5;  border-color: #BBCCBB; }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
#test4 { background: #D5F2D5;  border-color: #BBCCBB; }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
#test5 { background: #D5F2D5;  border-color: #BBCCBB; }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
#test6 { background: #D5F2D5;  border-color: #BBCCBB; }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
#test7 { background: #D5F2D5;  border-color: #BBCCBB; }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
#test8 { background: #D5F2D5;  border-color: #BBCCBB; }
}


@media only screen and (min-width: 768px) {
	#test9 { background: #D5F2D5;  border-color: #BBCCBB; }
}

@media only screen and (min-width: 1024px),
only screen and (min-device-height: 1024px) and (orientation: landscape) {
	#test10 { background: #D5F2D5;  border-color: #BBCCBB; }
}

@media only screen and (min-width: 320px) {
	#test11 { background: #D5F2D5;  border-color: #BBCCBB; }
}

@media only screen and (min-width: 480px) {
	#test12 { background: #D5F2D5;  border-color: #BBCCBB; }
}

@media only screen and (min-width: 1024px) {
	#test13 { background: #D5F2D5;  border-color: #BBCCBB; }
}